@model IEnumerable<PFD.Models.Feedback>


<div class="card">
    <h3 class="mid">Reviews</h3>
    <div id="comments" class="scrollable">
        @foreach (var item in Model)
        {
            <div class="comment">
                <div class="review-section">
                    <div class="review-type">
                        <span class="nimby">ChatBot:</span>
                        <span class="ratings">@item.ChatBotScore <i class="fa fa-star" aria-hidden="true"></i></span>
                    </div>
                    <p class="feedback">@item.ChatBotFeedback</p>
                </div>

                <div class="review-section">
                    <div class="review-type">
                        <span class="nimby">Voice Recognition:</span>
                        <span class="ratings">@item.VoiceScore <i class="fa fa-star" aria-hidden="true"></i></span>
                    </div>
                    <p class="feedback">@item.VoiceFeedback</p>
                </div>

                <div class="review-section">
                    <div class="review-type">
                        <span class="nimby">Gesture Recognition:</span>
                        <span class="ratings">@item.GestureScore <i class="fa fa-star" aria-hidden="true"></i></span>
                    </div>
                    <p class="feedback">@item.GestureFeedback</p>
                </div>
            </div>
        }
    </div>
</div>


