@model IEnumerable<PFD.Models.Feedback>


<div id="comments">
    <h3 class="text-center mt-3">Comments</h3>

    @foreach(var item in Model){
        <div class="d-flex m-3 comment justify-content-between  ">
            <div class="m-3">
                <h5>ChatBot</h5>
                <p>@item.ChatBotScore  <i class="fa fa-star" aria-hidden="true"></i></p>
                <p>@item.ChatBotFeedback</p>
            </div>

            <div class="m-3">
                <h5>Voice Recognition </h5>
                <p>@item.VoiceScore <i class="fa fa-star" aria-hidden="true"></i></p>

                <p>@item.VoiceFeedback</p>
            </div>

            <div class="m-3">
                <h5>Gesture Recognition</h5>
                <p>@item.GestureScore  <i class="fa fa-star" aria-hidden="true"></i></p>

                <p>@item.GestureFeedback</p>
            </div>
            
    

        </div>


    }

</div>


