@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";

    string? data = null;
    if (TempData["Success"] != null)
    {
        data = TempData["Success"].ToString();
        Console.WriteLine(data);

    }

    var AccountString = Context.Session.GetString("AccountObject");
    var AccountObject = JsonSerializer.Deserialize<Users>(AccountString);

    string? complete = null;
    if (Context.Session.GetString("Completed") != null)
    {
        complete = Context.Session.GetString("Completed");
        Console.WriteLine(complete);

    }

}



 @section head{
    <link rel="stylesheet" href="~/css/Dashboard.css" type="text/css">

 }

 @section style{
    <style>
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            color: red;
            z-index: 1;
            font-size: 1.5rem;
        }

        video {
            /*        position: fixed;
                    top: 0;
                    left: 0;*/
            display: inline-block;
            width: 300px;
            z-index: -1;
        }

        .container-vid {
            position: fixed;
            padding-left: 0;
            top: 100px;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
        }

        #successIndicator {
            position: fixed;
            top: 16%;
            right: 10%;
        }

        #tutorial{
            position:fixed;
            top: 0;
            left: 0;
            width:100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            align-items:center;
            
        }

        .swiper-container{
            height:100%;
        }
        #tutorial > .card{
            width:50rem;
            height:550px;
            overflow-x:hidden;
        }
     /*   .swiper{
            width:80%;
            height:80%;
            margin-top:1rem;
        }*/

        .hand-gesture{
            background: url("/Images/boy-and-girl-giving-high-five-to-each-other.svg") no-repeat center;
            height:300px;
            margin-top: 3rem;
        }

        .voice-recognition {
            background: url("/Images/testimonial.svg") no-repeat center;
            height:300px;
            margin-top: 3rem;
        }

        .understood {
            background: url("/Images/business-agreement.svg") no-repeat center;
            height: 300px;
            margin-top: 3rem;
        }

        .text-slideshow{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;

        }
        .text{
        
            width:80%;
        
        
        }

        .row {
            margin-right:0px;
        }
    </style>
 }

    <div class="dashboard-container" style="padding-left: 255px; overflow:hiden;">
        <section id="top" class="row no-wraps">
            <div class="col-md-7 card" id="main">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        Main Account
                        <h3>OCBC Savings Account</h3>
                        <p>4524 1920 8888 8888 <i class="fa fa-angle-double-right"></i></p>
                        <br>
                        <br>
                        <a href="" class="btn btn-success" style="background-color:#E30613; border:0px;">Transfer Money</a>
@*                        <a href="" class="btn btn-light">Transfer Money</a>*@
                    </div>
                    <div class="col-md-6">
                        Available funds
                        <h1>$@AccountObject.Money.ToString("#,###.00")</h1>
                    </div>
                </div>
            </div>

            <div class="gap"></div>
            <div class="col-md-4 card " id="define" style="background-color:#545454;">
                <h3>Set your goals!</h3>
                <br>
                <p>Voluptatum sed rerum tenetur natus vero aperiam sunt, laborum in quibusdam! Nemo, dolorem atque modi sint adipisci eius eligendi molestiae pariatur rem? <i class="fa fa-angle-double-right"></i></p>
                <br>
                <a href="" class="btn btn-light">Click here</a>
            </div>
        </section>
        <br>
        <section class="row" id="bottomm">
            <div class="col-md-7 card" id="right">
                <h2>Your recent transactions</h2>
                <table class="table table-borderless table-hover" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th scope="col">TransactionID</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date of Transaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in Model)
                        {

                            <tr>
                                <td>@transaction.TransactionID.ToString()</td>
                                <td>@transaction.Type</td>
                            <td>$@transaction.Amount.ToString("#,###.00")</td>
                            <td>@transaction.DateOfTransaction.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="gap"></div>
            <div class="col-md-4 card " id="left">
                <h2>Notifications</h2>
                <canvas id="chart-pie"></canvas>
            </div>
        </section>
    </div>

    <div class="toast" id="successIndicator" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true">
        <div class="toast-header">
            <i class="fa fa-money rounded me-2"></i>
            <strong class="me-auto">Congrats</strong>
            <small>a few seconds ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Payment is Successful
        </div>
    </div>

    <div class="container-vid">
        <video id="video" autoplay></video>

        <p class="overlay"></p>
    </div>

    <div class="d-flex justify-content-center" id="tutorial">
        <div class="card">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class = "hand-gesture"></div>
                        <div class="text-slideshow text-center mt-3">
                            
                            <div class="text">
                                <b>We have made new Changes!!</b>
                                <p class = "mt-1">Gesture Recognition have been incorporated! </p>
                                <p class = "mt-1">Show Thumbs up: Go main page</p>

                                <p class="mt-1">Show Thumbs Down: Go paynow page.</p>
                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="voice-recognition"></div>
                        <div class="text-slideshow text-center mt-3">

                            <div class="text">
                                <br />
                                <b>There are now speech to text on certain pages!</b>
                                <br />

                                <p class = "mt-1">For the contacts page, use it to search for contacts.</p>

                                <p class="mt-1">For the paynow page, use it to key in monetary amount.</p>
                            </div>

                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="understood"></div>
                        <div class="text-slideshow flex-column align-items-center">
                            <p class="mt-1">Press the button below or signal an open palm to end tutorial</p>
                            <form id = "completeForm" asp-action="setTutorial" asp-controller="Main">
                                <input type="hidden" value="true" name="complete" id="complete"/>
                                <button type = "submit" class="btn btn-danger mt-3" id="end-slideshow" style="height:3rem;">
                                    Understood
                                </button>
                            </form>
                          
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
     
    </div>

    @section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script asp-append-version="true">
        const dataPie = {
            type: "pie",
            data: {
                labels: ["Monday", "Tuesday", "Wednesday", "Thursday"],
                datasets: [{
                    data: [1234, 2234, 3234, 4234],
                    backgroundColor: ["rgba(117,169,255,0.6)", "rgba(148,223,215,0.6)",
                        "rgba(208,129,222,0.6)", "rgba(247,127,167,0.6)"
                    ],
                }, ],
            },
        };

        //new mdb.Chart(document.getElementById("chart-pie"), dataPie);


        const swiper = new Swiper('.swiper-container', {
            autoplay: {delay: 3000},

            direction: 'horizontal',
            loop: true,
            freeMode: false,
            slidesPerView: 1,
            centeredSlides: true,


             pagination: {
                    el: '.swiper-pagination',
                    clickable: true
             },
            paginationClickable: true,
            parallax: true,
            speed: 900,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }

        });

    </script>
 
        <script type="module" src="~/js/recog.js" asp-append-version="true"></script>
        <script src="~/js/audio.js" asp-append-version="true"></script>
        <script asp-append-version="true">
            var dataValue = @Json.Serialize(data);
            var completed = @Json.Serialize(complete);
            console.log(dataValue);
            if (dataValue == "true") {
                $("#successIndicator").show();
                setTimeout(() => {
                    $("#successIndicator").fadeOut();

                }, 2000)
            }

            if (completed == "true") {
                var button = document.querySelector("#tutorial");
                button.setAttribute('style', 'display:none !important');
            }

            $("#end-slideshow").on('click',()=>{
               var button =  document.querySelector("#tutorial");
               button.setAttribute('style', 'display:none !important');
               $("completeForm").submit();

            })
        </script>
    }
