@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";

    string? data = null;
    if (TempData["Success"] != null)
    {
        data = TempData["Success"].ToString();
        Console.WriteLine(data);

    }

    var AccountString = Context.Session.GetString("AccountObject");
    var AccountObject = JsonSerializer.Deserialize<Users>(AccountString);

    string? complete = null;
    if (Context.Session.GetString("Completed") != null)
    {
        complete = Context.Session.GetString("Completed");
        Console.WriteLine(complete);

    }

}

@{
    string GetInitials(string fullName)
    {
        string[] words = fullName.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
        string initials = "";

        foreach (string word in words)
        {
            initials += word[0];
        }

        return initials.ToUpper(); // Convert initials to uppercase if needed
    }
}

 @section head{
    <link rel="stylesheet" href="~/css/Dashboard.css" type="text/css" asp-append-version="true">

 }

 @section style{
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
        }
        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            color: black;
            background-color: white;
            padding: 5px 20px;
            z-index: 1;
            font-size: 1rem;
            font-weight: 700;
        }

        video {
            /*        position: fixed;
                    top: 0;
                    left: 0;*/
            display: inline-block;
            width: 300px;
            z-index: -1;
        }

        .video-placeholder {
            display: inline-block;
            width: 300px;
            height: 225px;
            background-color:#fff;
        }

        .container-vid {
            position: fixed;
            padding-left: 0;
            top: 100px;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
            z-index:2;
            width:300px;
            height:225px;
     
        }

        .container-vid2 {
            position: fixed;
            padding-left: 0;
            top: 100px;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
            z-index:1;
        }


        #successIndicator {
            position: fixed;
            top: 46%;
            left: 0%;
            width: 300px;
            
        }

        #tutorial{
            position:fixed;
            top: 0;
            left: 0;
            width:100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            align-items:center;
            z-index: 100000;
        }

        .swiper-container{
            height:100%;
        }
        #tutorial > .card{
            width:50rem;
            height:550px;
            overflow-x:hidden;
        }
     /*   .swiper{
            width:80%;
            height:80%;
            margin-top:1rem;
        }*/

        .hand-gesture{
            background: url("/Images/boy-and-girl-giving-high-five-to-each-other.svg") no-repeat center;
            height:300px;
            margin-top: 3rem;
        }

        .voice-recognition {
            background: url("/Images/testimonial.svg") no-repeat center;
            height:300px;
            margin-top: 3rem;
        }

        .understood {
            background: url("/Images/business-agreement.svg") no-repeat center;
            height: 300px;
            margin-top: 3rem;
        }

        .text-slideshow{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;

        }
        .text{
        
            width:80%;
        
        
        }

        .row {
            margin-right:0px;
        }

        .placeholder-text {
            margin: 0;
            line-height: 225px;
            font-size: 1rem;
            font-weight: 700;
            color: #131313;
        }

        .new-card {
            margin:0;
            padding:0;
            height: 50px;
            width: 350px;
            height:90px;
            border: none;
            border-radius: 20px;
            background-color: #f5f5f5;
        }

        .icon {
            width: 30px; /* Set the width and height to the desired value */
            height: 30px; /* Set the width and height to the desired value */
            border-radius: 50%; /* Use border-radius property to create a circular shape */
            color: #ffffff; /* Set the text color */
            text-align: center; /* Center the text inside the circular icon */
            line-height: 30px; /* Center the text vertically inside the circular icon */
            background-color: #0F387D;
            font-size: 13px;
        }

        .searchBar {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin-right: auto;
        }

        #searchQueryInput {
            width: 65%;
            height: 7vh;
            background: #f5f5f5;
            outline: none;
            border: none;
            border-radius: 1.625rem;
            padding: 0 3.5rem 0 1.5rem;
            font-size: 1.25rem;
        }

        #searchQuerySubmit {
            width: 3.5rem;
            height: 2.8rem;
            margin-left: -3.5rem;
            background: none;
            border: none;
            outline: none;
        }

            #searchQuerySubmit:hover {
                cursor: pointer;
            }

        .popupNav {
            margin: 0 20%;
            background: white;
            padding: 60px 0px;
            border-radius: 30px;
            position: fixed;
            left: 0;
            right: 0;
            top: 15%;
            z-index: 50;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease-in-out;

        }

        .popupNavText {
            text-align: center;
            margin-bottom: 30px;
            font-weight: 700;
            color:#474747;

        }

        a.popupNavResult {
            text-decoration: none;
            min-height: 10vh;
            border-radius: 1.65rem;
            padding: 1rem;
        }

            a.popupNavResult:hover {
                background-color: grey;
                color: black;
                transform: scale(1.01);
            }


        .popupNavResult {
            background-color: #f5f5f5;
            color: black;
            margin-bottom: 20px;
            transition: all 0.15s;
            width: 65%;
        }

        .closeButtton {
            text-decoration: none;
            color: #474747;
            font-size:21px;
            position:absolute;
            top: 20px;
            right: 30px;
            -webkit-text-stroke: 2px white;
        }

            .closeButtton:hover {
                color: #474747;
            }


        a.popupNavResult:hover {
            background-color: #EDEDED;
        }

        .icon2 {
            width: 40px; /* Set the width and height to the desired value */
            height: 40px; /* Set the width and height to the desired value */
            border-radius: 50%; /* Use border-radius property to create a circular shape */
            color: #ffffff; /* Set the text color */
            text-align: center; /* Center the text inside the circular icon */
            line-height: 40px; /* Center the text vertically inside the circular icon */
            background-color: #000;
            margin-left: 18px;
            margin-right: 60px;
        }

        #popupNavContainer {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
            align-items: center;
            z-index: 1000;
            transition: opacity 0.3s ease-in-out;
        }

        .fade-in {
            opacity: 1 !important;
        }

        #popupNavContainer.fade-in,
        .popupNav.fade-in {
            transition: opacity 0.3s ease-in-out;
        }

        #popupNavContainer,
        .popupNav {
            opacity: 0;
        }

         .button{
            background-color: black;
            border-radius: 20%;
            z-index: 100000;
            position: fixed;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 10%;
            left: 5%;
            width: 90px;
            height: 90px;
            transition: all 0.2s ease-out;
            color:white;
        }

        .button:hover{
            cursor:pointer;
        }
        .button > i {
            color:inherit;
            font-size:2.3vw;
        }

        .button.active{

            transform:scale(1.05);
            color:greenyellow;

        }

        
        .nimby1
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;

        }
        .nimby2
        {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #154367;
        } 
        .navigation
        {
            position: fixed;
            top:0px;
            width: 70px;
            height: 70px;
            background: white;
            transition: width 0.5s, height 0.5s;
            transition-delay: 0s,0.75s;
            z-index: 100000;
            border-radius: 4px;
            overflow: hidden;
        }
        .navigation.active
        {
            width: 310px;
            height: 350px;
            transition: height 0.5s, width 0.5s;
            transition-delay: 0s,0.75s;
        }
        .navigation .toggle
        {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background: #f2f2f2;
            transition: 0.5s;
            cursor: pointer;
        }
        .navigation .toggle.active
        {
            background: red;

        }
        .navigation .toggle::before
        {
            content: '+';
            position: absolute;
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            color: red;
            font-weight: 400;
            transition: 0.5s;
        }
        .navigation .toggle.active::before
        {
            transform: rotate(315deg);
            color: white;
        }
        .navigation ul
        {

            left: 0;
            width: 100%;
            margin: 0;
            padding:0;
        }
        .navigation ul li{
            list-style: none;
            width: 100%;
            right:0px;

        }
        .navigation ul li a {
            position: relative;
            display: flex;
            width: calc(100% - 20px); /* Adjusted width to account for the margin (20px in this case) */
            text-decoration: none;
            color: black;
            margin: 10px;
            background: #f0f0f0;
            border-radius: 7px;
        }
        .navigation ul li a .iconCommand{
            position: relative;
            display: block;
            min-width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;

        }
        .navigation ul li a .iconCommand .fa{
            font-size: 18px;
            color: black;
        }
        .navigation ul li a .title{
            position: relative;
            display: block;
            line-height: 50px;
            text-align: start;
            white-space: nowrap;
            font-size: 12px;
        }
        /*.navigation ul li:hover a .icon .fa,
        .navigation ul li:hover a .title{
            color: #f32121;
        }*/

            

    </style>
 }

    <div class="dashboard-container" style="padding-left: 25%; overflow:hidden; margin-bottom:17px;">
        <section id="top" class="row no-wraps">
            <div class="col-md-7 card" id="main">
                <div class="row no-gutters">
                    <div class="col-md-6">
                        <p>Main Account</p>
                        <h3>OCBC Savings Account</h3>
                        <p>4524 1920 8888 8888@*<i class="fa fa-angle-double-right"></i>*@</p>
                        <br>
                        <br>
                        <a href="" class="btn btn-success" style="background-color:#E30613; border:0px; padding: 7px 15px;">Transfer Money</a>
@*                        <a href="" class="btn btn-light">Transfer Money</a>*@
                    </div>
                    <div class="col-md-6">
                        <p>Available funds</p>
                        <h1>$@AccountObject.Money.ToString("#,###.00")</h1>
                    </div>
                </div>
            </div>

            <div class="gap"></div>
            <div class="col-md-4 card " id="define" style="background-color:#2F4858;">
                <h3 style="margin:0;">Set your goals!</h3>
                <br>
                <p style="line-height:30px;">Trying to save for that perfect vacation, latest gadget or shiny new car? Set up one or more savings goals now to stay on track and make all your dreams a reality!</p>
                <br>
                <a href="" class="btn btn-light">Set goals</a>
            </div>
        </section>
        <br>
        <section class="row" id="bottomm">
            <div class="col-md-7 card divv" id="right" style="overflow-y:auto;">
                <h2>Your recent transactions</h2>
                <table class="table table-borderless table-hover" style="margin-top: 16px;">
 @*                   <thead>
                        <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>*@
                    <tbody>

                        <tr data-speech="Paynow Transfer of $ 20 to Jaden on 11/12/2022" style="vertical-align:middle; margin-bottom:7px;">
                            <td><p class="icon">@GetInitials("Jaden")</p></td>
                            <td>Jaden</td>
                            <td>PayNow Transfer</td>
                            <td>11/12/2022</td>
                            <td style="font-weight:600; color:#028000;">$20.00</td>
                        </tr>

                        @foreach (var transaction in Model)
                        {
                        <tr data-speech="{TYPE} to {LOCATION} for {AMOUNT} on {DATE}" style="vertical-align:middle; margin-bottom:7px;">
                                <td><p class="icon">@GetInitials(@transaction.Location)</p></td>
                                <td>@transaction.Location</td>
                                <td>@transaction.Type</td>
                                <td>@transaction.DateOfTransaction.ToString("dd/MM/yyyy")</td>
                            <td style="font-weight:600;/* color:#b30c00;*/">$@transaction.Amount.ToString("#,###.00")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="gap divv"></div>

            <div class="col-md-4 card divv" id="left" style="padding-right:20px;">
                <h2>Notifications</h2>
                <div class="container d-flex justify-content-center" style="padding:0; margin:0;">
                    <div class="card mt-3 p-3 new-card">
                        <div class="media d-flex flex-nowrap">
                            <img src="/images/money-icon.png" class="mr-3" style="margin-right:15px; height:59px; width:59px;">

                            <div class="media-body ">
                            <h6 class="mt-2 mb-0" style="color: #000;">You have received $20</h6>
                            <small class="text" style="color: #3b3b3b;">Dec 11, 2022</small>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="container d-flex justify-content-center" style="padding:0; margin:0;">
                <div class="card mt-3 p-3 new-card">
                    <div class="media d-flex flex-nowrap">
                        <img src="/images/email-icon.png" class="mr-3" style="margin-right:15px; height:59px; width:59px;">

                        <div class="media-body ">
                            <h6 class="mt-2 mb-0" style="color: #000;">Update your email address</h6>
                            <small class="text" style="color: #3b3b3b;">Nov 10, 2022</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    </div>

    <div class="toast" id="successIndicator" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true">
        <div class="toast-header">
            <i class="fa fa-money rounded me-2"></i>
            <strong class="me-auto">Congrats</strong>
            <small>a few seconds ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Payment is Successful
        </div>
    </div>

    <div class="container-vid">
        <video id="video" autoplay data-type = "home"></video>

        <p class="overlay"></p>
    </div>

    <div class="container-vid2">
    <div class="video-placeholder d-flex align-content-center justify-content-center">
        <div class="placeholder-text d-flex align-content-center justify-content-center"> <dotlottie-player src="https://lottie.host/99563d16-720f-484d-8140-e2a05fddb155/XURw73cbCQ.json" background="transparent" speed="1" style="width: 150px; height: 225px;" loop autoplay></dotlottie-player></div>
        
        </div>

    </div>

<div class="button" data-activated="false">
        <i class="fa fa-microphone"></i>
    </div>

    <div class="d-flex justify-content-center" id="tutorial">
        <div class="card">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class = "hand-gesture"></div>
                        <div class="text-slideshow text-center mt-3">
                            
                            <div class="text">
                                <b>We have made new Changes!!</b>
                                <p class = "mt-1">Gesture Recognition have been incorporated!</p>
                                <p class = "mt-1">Show Thumbs up: Go to main page</p>

                                <p class="mt-1">Show Thumbs Down: Go to paynow page.</p>
                            </div>

                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="voice-recognition"></div>
                        <div class="text-slideshow text-center mt-3">

                            <div class="text">
                                <br />
                                <b>There are now speech to text on certain pages!</b>
                                <br />

                                <p class = "mt-1">For the contacts page, use it to search for contacts.</p>

                                <p class="mt-1">For the paynow page, use it to key in monetary amount.</p>
                            </div>

                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                        <div class="understood"></div>
                        <div class="text-slideshow flex-column align-items-center">
                            <p class="mt-1">Press the button below or signal an open palm to end tutorial</p>
                            <form id = "completeForm" asp-action="setTutorial" asp-controller="Main">
                                <input type="hidden" value="true" name="complete" id="complete"/>
                                <button type = "submit" class="btn btn-danger mt-3" id="end-slideshow" style="height:3rem;">
                                    Understood
                                </button>
                            </form>
                          
                        </div>
                    </div>

                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
     
    </div>

    <div class="navigation">
            <div class="toggle">
            </div>
            <ul>
                <li>
                    <a href="#">
                        <span class="iconCommand"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title" style="margin-left:10px;">Go to Home - Thumbs Up</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="iconCommand"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <span class="title" style="margin-left:10px;">Go to Paynow - Thumbs Down</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="iconCommand"><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                        <span class="title" style="margin-left:10px;">Confirm Payment - Open Palm</span>
                    </a>
                </li>
            </ul>

        </div>

    @section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       <script src="~/js/audio.js" asp-append-version="true"></script>

    <script asp-append-version="true">
        const dataPie = {
            type: "pie",
            data: {
                labels: ["Monday", "Tuesday", "Wednesday", "Thursday"],
                datasets: [{
                    data: [1234, 2234, 3234, 4234],
                    backgroundColor: ["rgba(117,169,255,0.6)", "rgba(148,223,215,0.6)",
                        "rgba(208,129,222,0.6)", "rgba(247,127,167,0.6)"
                    ],
                }, ],
            },
        };

        //new mdb.Chart(document.getElementById("chart-pie"), dataPie);


        const swiper = new Swiper('.swiper-container', {
            autoplay: {delay: 8000},

            direction: 'horizontal',
            loop: true,
            freeMode: false,
            slidesPerView: 1,
            centeredSlides: true,


             pagination: {
                    el: '.swiper-pagination',
                    clickable: true
             },
            paginationClickable: true,
            parallax: true,
            speed: 900,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }

        });

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script type="module" src="~/js/recog.js" asp-append-version="true"></script>
        <script src="~/js/audio.js" asp-append-version="true"></script>
        <script asp-append-version="true">
            var dataValue = @Json.Serialize(data);
            var completed = @Json.Serialize(complete);
            console.log(dataValue);
            if (dataValue == "true") {
                $("#successIndicator").show();
                setTimeout(() => {
                    $("#successIndicator").fadeOut();

                }, 4000)
            }

            if (completed == "true") {
                var button = document.querySelector("#tutorial");
                button.setAttribute('style', 'display:none !important');
            }

            $("#end-slideshow").on('click',()=>{
               var button =  document.querySelector("#tutorial");
               button.setAttribute('style', 'display:none !important');
               $("completeForm").submit();

            })

            const navigation = document.querySelector('.navigation');
        document.querySelector('.toggle').ondblclick = function(){
            this.classList.toggle('active');
            navigation.classList.toggle('active')
        }

        $( function() {
        $( ".navigation" ).draggable();
        } );

        

        </script>

    <script>
        /**
        * Test simple click screen reader
        */
        let msg = new SpeechSynthesisUtterance();
        let tags = document.querySelectorAll('p,h2,h3,h1,h6,a,small');
        tags.forEach((tag) => {
            tag.addEventListener('click', (e) => {

                msg.text = e.target.innerText;
                tag.style.backgroundColor = "yellow";
                speechSynthesis.speak(msg);

                let interval = setInterval(() => {
                    if (!speechSynthesis.speaking) {
                        tag.style.removeProperty('background-color');
                        clearInterval(interval);
                    }
                }, 100);

            });
        });


        let rows = document.querySelectorAll('tr');

        rows.forEach((row) => {
            row.addEventListener('click', (e) => {
                let customSpeechTemplate = row.getAttribute('data-speech');
                let location = row.querySelector('td:nth-child(2)').innerText;
                let type = row.querySelector('td:nth-child(3)').innerText;
                let amount = row.querySelector('td:nth-child(5)').innerText;
                let date = row.querySelector('td:nth-child(4)').innerText;

                let customSpeech = customSpeechTemplate
                    .replace('{LOCATION}', location)
                    .replace('{TYPE}', type)
                    .replace('{AMOUNT}', amount)
                    .replace('{DATE}', date);

                speakCustomSpeech(customSpeech);

                row.style.backgroundColor = "yellow";

                let interval = setInterval(() => {
                    if (!speechSynthesis.speaking) {
                        row.style.removeProperty('background-color');
                        clearInterval(interval);
                    }
                }, 100);
            });
        });

        function speakCustomSpeech(text) {
            let msgs = new SpeechSynthesisUtterance();
            msgs.text = text;

            // Set the rate to make the speech slower
            msgs.rate = 0.6; // Adjust this value to your desired speed

            speechSynthesis.speak(msgs);
        }
    </script>
    }
